.bg-container {
  display: grid;

  width: 80%;

  grid-template-columns: 50px calc(100% - 100px) 50px;
  grid-template-rows: 300px;
}

.bg-container button {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 2px solid var(--surface-elevation-1);

  color: var(--muted-foreground);
  cursor: pointer;
}

.bg-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.apply {
  width: 100%;
  height: 50px;

  background-color: var(--ce-accent);

  border: 4px solid color-mix(in srgb, var(--ce-accent) 80%, black 20%);
  border-radius: 4px;
  color: var(--foreground);

  cursor: pointer;

  margin-top: 20px;
}

.cantapply {
  background: transparent;
  border: 4px solid var(--surface-elevation-1);
  cursor: not-allowed;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: none;
  border: 2px dashed var(--surface-elevation-1);
  border-radius: 4px;

  width: 100%;
  height: 100%;

  padding: 10px;

  color: var(--muted-foreground);
  cursor: pointer;

  box-sizing: border-box;

  font-size: 1.2rem;
}

.empty svg {
  width: 40%;
  height: 40%;
}

.empty svg * {
  stroke: var(--muted-foreground);
}

.empty input {
  display: none;
}
