.image-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 2 / 1;
}

.image-container > div {
  width: 50%;
  height: 100%;
}

.image-container button {
  cursor: pointer;
}

.image-slot {
  aspect-ratio: 1 / 1;
}

.left {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-template-rows: repeat(2, calc(50% - 5px));
  gap: 10px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: none;
  border: 2px dashed var(--surface-elevation-1);
  border-radius: 4px;

  width: 100%;
  height: 100%;

  color: var(--muted-foreground);
  cursor: pointer;

  box-sizing: border-box;
}

.empty svg {
  width: 30%;
  height: 30%;
}

.empty svg * {
  stroke: var(--muted-foreground);
}

.empty input {
  display: none;
}

.uploaded {
  width: 100%;
  height: 100%;
  background: none;
  border: 2px solid var(--surface-elevation-1);
  border-radius: 4px;
  padding: 0px;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.uploaded img {
  width: 90%;
  height: 90%;
  border-radius: 2px;
  overflow: hidden;

  aspect-ratio: 1 / 1;
}

.right {
  border: 2px solid var(--surface-elevation-1);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right img {
  width: 95%;
  height: 95%;
  border-radius: 2px;
}

.apply {
  width: 100%;
  height: 50px;

  background-color: var(--ce-accent);

  border: 4px solid color-mix(in srgb, var(--ce-accent) 80%, black 20%);
  border-radius: 4px;
  color: var(--foreground);

  cursor: pointer;

  margin-top: 20px;
}

.cantapply {
  background: transparent;
  border: 4px solid var(--surface-elevation-1);
  cursor: not-allowed;
}
