.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header span {
  font-size: 1rem;
  color: var(--muted-foreground);
}

.back {
  background: transparent;
  border: 2px solid var(--surface-elevation-1);
  border-radius: 6px;
  color: var(--foreground);

  padding: 0px 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.back svg {
  height: 30px;
  width: 30px;
}

.back svg * {
  stroke: var(--foreground);
}
