.list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.list button {
  width: 100%;
  height: 60px;

  background-color: transparent;
  border: 3px solid var(--surface-elevation-1);
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 20px;

  padding: 0px 12px;
}

.warning {
  color: var(--muted-foreground);
}
