.button {
  position: fixed;
  border: none;
  border-radius: 50%;
  padding: 0px;

  height: 50px;
  width: 50px;

  z-index: 999999;

  background-color: var(--ce-background);
  border: 1px solid var(--ce-border);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  touch-action: none;
}

.button svg {
  height: 100%;
  width: 100%;
  transition:
    rotate 0.2s ease-in-out,
    opacity 0.2s linear;
  position: absolute;
  inset: 0px;
  transform: scale(0.8);
}

.button svg * {
  stroke: var(--foreground);
}
