.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  top: 0px;
  left: 0px;

  z-index: 999;

  transition: opacity 0.1s linear;
}

.menu {
  width: 500px;
  height: 600px;

  background-color: var(--background);
  border: 1px solid var(--border-divider);

  padding: 16px;
  box-sizing: border-box;

  transition: opacity 0.2s ease-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header h2 {
  margin: 0px;
  margin-left: 10px;
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary);
}

.close {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--surface-elevation-1);

  cursor: pointer;
}

.close svg {
  height: 100%;
  width: 100%;
}

.close svg * {
  stroke: var(--foreground);
}
